@import "../vars";
@import "../libs";

.pizza-block {
  @apply w-full text-center mb-16;

  @media (max-width: 1090px) {
    @apply mb-9;
  }

  @media (max-width: 768px) {
    &:not(:last-of-type) {
      @apply mb-6 pb-11;
      border-bottom: 1px solid #efefef;
    }
  }

  &__image {
    @apply w-64 my-0 mx-auto;
  }

  &__title {
    @apply text-xl font-black mb-5;
  }

  &__selector {
    @apply flex flex-col p-1.5;

    background-color: #f3f3f3;
    border-radius: 10px;

    ul {
      @apply flex flex-1;

      &:first-of-type {
        @apply mb-1.5
      }

      li {
        @apply p-2 flex-1 cursor-pointer font-semibold text-sm;
        @include noSelect();

        &.active {
          @apply bg-white cursor-auto;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          border-radius: 5px;
        }

        &.disabled {
          @apply opacity-40 pointer-events-none;
        }
      }
    }
  }

  &__bottom {
    @apply flex items-center justify-between mt-5;
  }

  &__price {
    @apply font-bold;
  }
}