@import "../vars";

.sort {
  @apply relative ml-5;

  &__label {
    @apply flex items-center;

    svg {
      @apply mr-2 rotate-180;

      &.rotated {
        @apply rotate-0;
      }
    }

    b {
      @apply mr-2;
    }

    span {
      @apply cursor-pointer;

      color: $orange;
      border-bottom: 1px dashed $orange;
    }
  }

  &__popup {
    @apply absolute right-0 mt-3.5 bg-white overflow-hidden py-2.5 px-0 w-40;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;

    ul {
      @apply overflow-hidden;
      overflow: hidden;

      li {
        @apply py-3 px-5 cursor-pointer;

        &.active,
        &:hover {
          background: rgba(254, 95, 30, 0.05);
        }

        &.active {
          @apply font-bold;
          color: $orange;
        }
      }
    }
  }
}